---
# base custom layout for essays
layout: default
gallery: true
custom-foot: js/modal-hash-js.html
---
{% assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %}
{% assign essay = site.essays | where: 'name', page.essay_file | first %}

{% capture all-page-content %}
<h2 id="place" class="mt-5">The Character</h2>

<p>{{ page.description }}</p>

<p><strong>Name:</strong> {{ page.title }}</p>
<p><strong>Gender:</strong> {{ page.gender }}</p>
<p><strong>Age:</strong> {{ page.age }}</p>
<p><strong>Status:</strong> {{ page.status }}</p>
<p><strong>Family:</strong> {{ page.family_status }}</p>
<p><strong>Occupation:</strong> {{ page.occupation }}</p>
<p><strong>Time Period:</strong> {{ page.time_period }}</p>
<p><strong>Location:</strong> {{ page.location }}, {{ page.province }}</p>

{% include item/mini-map.html %}

<h2 id="title" class="mt-4 h1">{{ essay.title }}</h2>

<p class="fs-6 fw-semibold ps-4"><em>by {{ essay.author }}</em></p>

{{ essay.content }}

{% if children.size > 0 %}<h2 id="primary-sources">Primary Sources</h2>{% endif %}
{%- endcapture -%}

{% assign jumboId = page.featured_image_id %}
{% if jumboId contains '/' %}
{% assign jumboSrc = jumboId | relative_url %}
{% else %}
{% assign jumboItem = site.data[site.metadata] | where: "objectid", jumboId | first %}
{% capture jumboSrc %}{{ jumboItem.object_location | default: jumboItem.image_small | relative_url }}{% endcapture %}
{%- endif -%}

<style>
    #about-feature {
        padding: 4rem 0;
        margin-bottom: 1rem;
        
        background-color: #e9ecef;
        background-image: url({{ jumboSrc }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .about-title-box {
        padding-top: 6em;
        padding-bottom: 1em;
    }
    .about-title {
        padding-left: 15% !important;
    }
    @media screen and (max-width: 576px) {
        .about-title-box {
            padding-top: min(6em, 45vh);
        }
        .about-title {
            padding-left: 1rem !important;
        }
    }
</style>
<div id="about-feature">
    <div class="about-title-box">    
        <div class="p-2 text-start text-white bg-dark bg-opacity-75 about-title">
            <h1 class="display-1">{{ page.title }}</h1>
        </div>     
    </div>
</div>

<div id="about-wrapper">
    <div id="about-toc-wrapper">
        {% unless page.toc == false %}
        <div id="about-toc">
            <div id="about-toc-title">
                <button class="btn btn-light" data-bs-toggle="collapse" data-bs-target="#about-toc-list" aria-expanded="false" aria-controls="about-toc-list">
                    Contents
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
            </div>
            <div id="about-toc-list" class="collapse" > 
            {% include cb/jekyll-toc.html html=all-page-content sanitize=true h_min=1 h_max=3 skip_no_ids=true class="jekyll-toc-list" credits=page.credits %}
            </div>
        </div>
        {% endunless %}
    </div>
    <div id="about-contents-wrapper">

        {{ all-page-content }}

        {% if children.size > 0 %}{% include item/child/place-compound-item-modal-gallery.html %}{% endif %}

    </div>
    
    <div class="my-5">
        <a class="btn btn-secondary" href="{{ page.previous_item | relative_url }}" id="prev-page-button">&laquo; Previous</a>
        <a class="btn btn-secondary" href="{{ '/' | relative_url }}">Back to Home</a>
        <a class="btn btn-secondary" href="{{ page.next_item | relative_url }}" id="next-page-button">Next &raquo;</a>
    </div>

</div>