<nav class="navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-dark {% if page.layout == 'home' %}text-white{% endif %}" href="{{ '/' | relative_url }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi icon-sprite" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.5.5 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103M10 1.91l-4-.8v12.98l4 .8zm1 12.98 4-.8V1.11l-4 .8zm-6-.8V1.11l-4 .8v12.98z"/>
            </svg>
            {{ site.title }}
            {% if site.tagline %}<br><small class="ms-4">{{ site.tagline }}</small>{% endif %}
        </a>
        <button class="navbar-toggler bg-dark text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Open navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi icon-sprite fs-1" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg>
        </button>
        
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasNavbarLabel">{{ site.title }}</h2>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p class="h5 mb-3">{{ site.tagline }}</p>
                <p><small>{{ site.description }}</small></p>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%} 
                    {% for nav in navItems %}
                    {% if nav.stub %}
                    <li class="nav-item">
                        <a class="nav-link{% if page.url == nav.stub %} active{% endif %}" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
                    </li>
                    {%- else -%}
                    <li class="nav-item dropdown">
                        {% assign navChildren = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' %}
                        {%- assign childStubs = navChildren | map: 'stub' -%}
                        <a class="nav-link  dropdown-toggle{% if childStubs contains page.url %} active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.display_name }}</a>
                        <div class="dropdown-menu">
                            {% for c in navChildren %}
                            <a class="dropdown-item {% if page.url == c.stub %}active{% endif %}" href="{{ c.stub | relative_url }}">{{ c.display_name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}
                    {%- endfor -%}
                </ul>

                <div class="mt-5 p-2">
                    <a href="https://www.uidaho.edu/letters-arts-social-sciences/academics/history">
                        <img class="img-fluid sidebar-nav-image" src="https://objects.lib.uidaho.edu/peoples-ipnw/UI_Dept_History_gold_and_white_horizontal_RGB.png" title="University of Idaho History" alt="University of Idaho History" >
                    </a>
                </div>
                <div class="mt-5">
                    <a href="https://cdil.lib.uidaho.edu/" >
                        <img class="img-fluid sidebar-nav-image" src="https://cdil.lib.uidaho.edu/assets/img/logo.png" title="Center for Digital Inquiry and Learning (CDIL)" alt="CDIL home" >
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</nav>
